ROOT_DOMAIN=http://localhost:8080

# Docs to create Hubspot Oauth App:
# https://developers.hubspot.com/beta-docs/guides/apps/authentication/working-with-oauth
HUBSPOT_APP_ID=
HUBSPOT_CLIENT_ID=
HUBSPOT_CLIENT_SECRET=

# REDIS CREDENTIALS
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_USERNAME=